*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.quotes{
    position: absolute;
    width: 37.5rem;
    bottom: 60px;
    left: -37.5rem;
    min-height: 100px;
    padding: 1.4rem;
    background-color: #eee;
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    overflow: hidden;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.6);
    opacity: 0;
}

.slide{
    transform: translateX(37.5rem);
    opacity: 1;
    transition: all 0.7s ease-in-out 0.3s;
}

#author{
    float: right;
    margin: 2rem 0;
}

.links{
    display: flex;
    clear: right;
}

.big-quote {
    font-size: 2 rem;
}


a{
    min-width: 3rem;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: .3rem;
    background: linear-gradient(to bottom, #33ccff 0%, #669999 100%);
    color: #fff;
    cursor: pointer;
    transition: background 1s;
}

a:last-child{
    margin-left: auto;
}

a:nth-child(2){
    margin-left: .4rem;
}

a:hover{
    background: linear-gradient(to bottom, #33ccff 0%, #009999 100%);
    text-decoration: none;
    color: #fff;
}

@media (max-width: 35rem){

    .quotes{
        position: absolute;
        max-width: 90%;
    }

}

@media (min-height: 800px) and (min-width: 1500px){
    *{font-size: 23px;}
  }
  
  @media (min-height: 2000px) and (min-width: 3500px){
    *{font-size: 47px;}
  }
